body {
  box-sizing: border-box;
  background-color: #ffffff;
  margin-top: -10px;
}

p {
  text-align: center;
}

small {
  text-align: center;
}


/* 
header {
    border: 1px solid rgb(51, 51, 51);
    margin-left: -10px;
    margin-right: -10px;
} */

.nyt-art-header-container {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 10px;
  padding: 10px;
}

.nyt-art-header-container>div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  font-size: 30px;
}

.nav-left {
  height: 15px;
  width: 15px;
  margin-right: 20px;
}

.nyt-art-nav-bar-left>a {
  text-decoration: none;
  color: black;
}

.nyt-art-header-newyork {
  font-style: italic;
  font-weight: bolder;
  font-family: serif;
  font-size: 16px;
  text-align: center;
  font-stretch: 100%;
}

.nyt-art-header-space>span {
  font-size: 14.25px;
  font-family: nyt-franklin, helvetica, arial, sans-serif;
  font-weight: 700;
  text-transform: uppercase;
}

.nyt-art-header-subscribe {
  font-size: 12px;
  font-family: nyt-franklin, helvetica, arial, sans-serif;
  font-weight: 600;
  text-transform: lowercase;
  color: black;
}

.log-in {
  height: 35px;
  width: 70px;
  border: 0;
  border-radius: 5px;
  background-color: black;
  color: #ffffff;
}

.nyt-art-section-container {
  border-top: 1px solid rgb(179, 172, 172);
  border-bottom: 1px solid rgb(51, 51, 51);
  margin-left: -10px;
  margin-right: -10px;
}

.nyt-art-article-header {
  display: block;
  margin: 0 auto;
  width: 600px;
}

#first-image {
  width: 65%;
  height: auto;
  align-content: center;
}

.Rick {
  display: inline;
}

.container {
  text-align: center;
}

.nyt-art-article-title {
    text-align: left;
}

.nyt-art-containter-article {
    display: block;
    width: 600px;
    height: 100%;
    margin: 0 auto;
}

.nyt-art-containter-article>p {
    text-align: left;
}

.nyt-art-section-container {
    border-top: 1px solid rgb(179, 172, 172);
    border-bottom: 1px solid rgb(51, 51, 51);
    margin-left: -10px;
    margin-right: -10px;
    text-align: center;
}

.read-button {
    display: flex;
    height: 35px;
    width: 200px;
    border: 0;
    border-radius: 5px;
    background-color: #567B95;
    color: #ffffff;
}

.inflation {
    width: 60%;
    height: auto;
    align-content: center;
}

.telescope {
    width: 48%;
    height: auto;
    align-content: center;
}

#grid-end {
    display: grid;
    width: 100%;
    grid-template: "a a a b" auto
                   "a a a b" auto
                   "a a a b" auto
                   "c c c b" auto;
    padding-left: 50px;
    padding-right: 50px;
    margin: 0 100px 0 100px;                   
}

.more-in-space-and-astronomy {
    border: 1px red solid;
    grid-area: a;
}

.more-in-space-and-astronomy-title {
  border: 1px red solid;
}


.most-popular {
    border: 1px red solid; 
    grid-area: b;
}

.editors-picks {
    border: 1px red solid; 
    grid-area: c;
}

.img-grid {
  width: 224px;
  height: 150px;
}
